# Django
DJANGO_SECRET_KEY=ta-cle-secrete-tres-longue-ici
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=ton-domaine.com,www.ton-domaine.com

# Base de données (PostgreSQL recommandé)
# DATABASE_URL=postgres://user:password@localhost:5432/supermarche

# Optionnel
# DJANGO_CSRF_TRUSTED_ORIGINS=https://ton-domaine.com
# OPENAI_API_KEY=sk-...
# REQUIRE_LOGIN=0
